.text-center {
  text-align: center;
}

.box-master {
  border-radius: 20px;
  padding: 10px;
  margin: 5px;

}

 

html{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  width: auto;
  height: auto;
  background-color: white;
  color: black;
}


.grid {
  display: grid;
  max-width: auto;
  padding: 5px;
  margin: 5px;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 120px 500px 40px;
  grid-gap: 5px;
}

.header {
  background: rgb(190, 190, 190);
  grid-column: 1 / 8;
  grid-row: 1;
  font-size: 50px;
}

.sidebar {
  grid-column: 1;
  grid-row: 2 / 3;
  background-color:rgb(202, 193, 193);
}

.content {
  grid-column: 2 / 8;
  grid-row: 2 / 3;
  background-color:rgb(231, 168, 168);
}

.footer {
  background: rgb(190, 190, 190);
  grid-column: 1 / 8;
  grid-row: 3;
}

.grid-content {
  display: grid;
  padding: 5px;
  margin: 5px;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(5, 200px);
  grid-gap: 5px;
}


