html{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bolder;
  width: auto;
  height: auto;
  background-color: white;
  color: black;
}


.grid {
  display: grid;
  max-width: auto;
  padding: 5px;
  margin: 5px;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: 120px 500px 40px;
  grid-gap: 5px;
}

.header {
  background: rgb(190, 190, 190);
  /* Equivalente a */
  grid-column: 1 / 8;
  grid-row: 1;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  font-size: 50px;
  text-align: center;
}

.sidebar {
  grid-column: 1;
  grid-row: 2 / 3;
  background-color:rgb(202, 193, 193);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}

.content {
  grid-column: 2 / 8;
  grid-row: 2 / 3;
  background-color:rgb(172, 101, 101);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}

.footer {
  background: rgb(190, 190, 190);
  /* Equivalente a */
  grid-column: 1 / 8;
  grid-row: 3;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  font-size: 10px;
  color: white;
  text-align: center;
}

.grid-content {
  display: grid;
  padding: 5px;
  margin: 5px;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(5, 200px);
  grid-gap: 5px;
}

.one {
  grid-column: 1;
  grid-row: 1;
  background-color: rgb(223, 198, 167);
  box-sizing: border-box;
  border: 2px solid rgb(167, 164, 164);
  border-radius: 20px;
  padding: 5px;
}
.two {
  grid-column: 2;
  grid-row: 1;
  background-color: rgb(223, 198, 167);
  box-sizing: border-box;
  border: 2px solid rgb(167, 164, 164);
  border-radius: 20px;
  padding: 5px;
}
.three {
  grid-column: 3;
  grid-row: 1;
  background-color: rgb(223, 198, 167);
  box-sizing: border-box;
  border: 2px solid rgb(167, 164, 164);
  border-radius: 20px;
  padding: 10px;
}
.four {
  grid-column: 4;
  grid-row: 1;
  background-color: rgb(223, 198, 167);
  box-sizing: border-box;
  border: 2px solid rgb(167, 164, 164);
  border-radius: 20px;
  padding: 10px;
}
.five {
  grid-column: 5;
  grid-row: 1;
  background-color: rgb(223, 198, 167);
  box-sizing: border-box;
  border: 2px solid rgb(167, 164, 164);
  border-radius: 20px;
  padding: 5px;
}
